@model Biblioteka.Models.Rental

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentalState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentalState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PESEL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PESEL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.rentalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
