@model IEnumerable<Biblioteka.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Kategorie</h1>

<p>
    <a asp-action="Create" class="customButton">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.catName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.catName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.catId" class="customButton">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.catId" class="customButton">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.catId" class="customButton">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
